=== GENERATED SQL ===

-- 1. Create the cms_config table
CREATE TABLE IF NOT EXISTS public.cms_config (
  id bigint PRIMARY KEY,
  config jsonb NOT NULL,
  updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 2. Enable Row Level Security (RLS)
ALTER TABLE public.cms_config ENABLE ROW LEVEL SECURITY;

-- 3. Create RLS Policies
-- Allow anyone (including anonymous visitors) to read the configuration
CREATE POLICY "Allow public read access" ON public.cms_config
  FOR SELECT USING (true);

-- Allow anyone to insert/update/delete the configuration (needed for anonymous app uploads)
CREATE POLICY "Allow public all access" ON public.cms_config
  FOR ALL USING (true) WITH CHECK (true);

-- 4. Insert initial default configuration row

